@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  --background: #1f2223;
  --light-background: #353839;
  --primary: #776885;
  --accent-green: #89bd9e;
  --accent-orange: #db995a;
  --text-color: #ffffff;
  --font-size: 1rem;
}

/* General */

* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: "Geist", sans-serif;
  font-size: var(--font-size);
  color: var(--text-color);
}

body {
  background-color: var(--background);
  height: 200vh;
}

.second_background {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-background);
  padding: 2rem;
  border-radius: 0.5rem;
}

p {
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
}

/* Nav */

nav {
  width: 100vw;
  border-bottom: white 1px solid;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

nav * {
  font-size: calc(var(--font-size) * 1.2);
  text-decoration: none;
}

.top_nav_left {
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 800px;
  flex: 4;
}

.top_nav_right {
  flex: 1;
}

nav .logo {
  height: 4em;
  margin: 0.5em 1em 0.5em 2em;
  z-index: 3;
}

nav .logo:hover {
  filter: drop-shadow(0 0 0.75rem var(--primary));
  cursor: pointer;
}

.nav_options_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;

  align-items: center;
  width: 100%;
  height: 100%;
}

.nav_options_list img {
  height: 2em;
  padding-right: 0.5em;
}

.menu_item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  cursor: pointer;
  transition: all 0.2s;
}

.menu_item:hover {
  font-size: 1.3em;
}

.top_nav_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3em;
}

.top_nav_right img {
  height: 3em;
  padding-right: 1em;
}
.right_menu_item {
  transition: all 0.2s;
}
.right_menu_item:hover {
  font-size: 1.3em;
  cursor: pointer;
}

.right_menu_text {
  transition: all 0.1s;
}
.right_menu_text:hover {
  color: var(--primary);
  text-decoration: line-through;
  cursor: pointer;
}

/* Mobile nav */

nav .mobile_menu_icon {
  display: none;
}

nav .mobile_only_option {
  display: none;
}
.nav_options_list.active {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 5em;
  width: 100%;
  height: fit-content;
  background-color: var(--background);
  justify-content: center;
  align-items: center;
}

.nav_options_list.active li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
}

.mobile_only_option {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  padding-right: 1em;
  z-index: 3;
}

@media (max-width: 900px) {
  .nav_options_list {
    display: none;
  }

  nav .mobile_menu_icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-right: 1em;
    z-index: 3;
  }
  .top_nav_right {
    display: none;
  }
}
