@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  --background: #1f2223;
  --light-background: #353839;
  --primary: #776885;
  --accent-green: #89bd9e;
  --accent-orange: #db995a;
  --text-color: #ffffff;

  --font-size: 1rem;
}

body {
  font-family: "Geist", sans-serif;
  font-size: var(--font-size);
  background-color: var(--background);
  color: var(--text-color);
}

.second_layer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-background);
  padding: 2rem;
  border-radius: 0.5rem;
}

p {
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
}
