<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Component page</title>
    <link rel="stylesheet" href="../styles/default.css" />
    <script src="../scripts/mobile_meu.js" defer></script>
  </head>
  <body>
    <nav>
      <div class="top_nav_left">
        <a class="nav_logo" href="../../index.html">
          <img class="logo" src="../../assets/images/logo.svg" alt="Logo" />
        </a>
        <ul class="nav_options_list">
          <li>
            <a href="#" class="menu_item"><img src="../../assets/icons/search_thick.svg" alt="Browse Icon" /> BROWSE</a>
          </li>
          <li>
            <a href="#" class="menu_item"><img src="../../assets/icons/bookmark_fill.svg" alt="Collection Icon" /> COLLECTION</a>
          </li>
          <li>
            <a href="#" class="menu_item"><img src="../../assets/icons/create.svg" alt="Create Icon" /> CREATE</a>
          </li>
          <li class="mobile_only_option">
            <a href="#" class="menu_item">PROFILE</a>
          </li>
          <li class="mobile_only_option">
            <a href="#" class="menu_item">LOG OUT</a>
          </li>
        </ul>

        <a href="#" class="mobile_menu_icon menu_item menu_show"><img src="../../assets/icons/menu.svg" alt="Menu Icon" /></a>
      </div>

      <div class="top_nav_right">
        <img class="right_menu_item" src="../../assets/avatars/av0.svg" alt="My Avatar" />
        <div class="right_menu_text">LOG OUT</div>
      </div>
    </nav>
  </body>
</html>
