body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1,
h2 {
  font-size: var(--triple-font);
  color: var(--primary);
}

img {
  width: 8rem;
  margin-bottom: 2rem;
  transition: transform 2s;
}

img:hover {
  cursor: pointer;
  transform: rotate(-135deg);

}
